/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Regular", sans-serif; font-size: 48px; background-color: black;}
h1 {font-size: 48px!important;}
h2 {font-size: 40px!important;}
